<div class="form-wrapper">
  <div class="page-top-btns">
    <%= link_to("/projects/#{params[:project_id]}/project_posts/", class: "page-back") do %>
      <i class="fas fa-angle-left"></i>
      <p>戻る</p>
    <% end %>
  </div>
  <h1>新規投稿</h1>
  <%= form_with model: @pj_post, url: "/projects/#{params[:project_id]}/project_posts" do |f| %>
    <div class="form">
      <div class="form-item">
        <h2>内容</h2>
        <%= f.text_area :content, class: "textarea" %>
      </div>
    </div>
    <div class="btns">
      <%= f.submit "投稿", class: "btn" %>
    </div>
  <% end %>
</div>