<div class="wrapper">
  <ul class="list">
    <li class="li-tile"><%= link_to("案件を探す", "/recruitments") %></li>
    <% current_user.projects.each do |project| %>
      <li class="li-tile"><%= link_to(project.name, "/projects/#{project.id}") %></li>
    <% end %>
    <li class="li-tile"><%= link_to("新規プロジェクト", "/projects/new") %></li>
  </ul>
</div>