@charset "utf-8";
@import "../function/mediaquery";

.header-usericon {
  border-radius: 50%;
  height: 40px;
  margin-right: 16px;
  user-select: none;
  width: 40px;
}

.small-usericon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  user-select: none;
  margin-right: 16px;
}

.usericon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  user-select: none;
  margin-right: 16px;
}

.big-usericon {
  border-radius: 50%;
  height: 160px;
  margin-right: 40px;
  user-select: none;
  width: 160px;
  @include mq(tab) {
    border-radius: 50%;
    height: 120px;
    width: 120px;
  }
  @include mq(sp) {
    border-radius: 50%;
    height: 160px;
    margin-right: 0;
    margin-bottom: 16px;
    width: 160px;
  }
}