<tr>
  <th class="width10">id</th>
  <th>name</th>
  <th class="width20"><!-- ボタン設置 --></th>
</tr>
<% @categories.each do |category| %>
  <tr>
    <td><%= category.id %></td>
    <td><%= category.name %></td>
    <td class="table-btns">
      <%= link_to("/tag_categories/#{category.id}/edit") do %>
        <i class="fas fa-pen"></i>
      <% end %>
      <%= link_to("/tag_categories/#{category.id}", method: :delete) do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </td>
  </tr>
<% end %>