<div class="form-wrapper">
  <div class="page-top-btns">
    <%= link_to("/tag_categories", class: "page-back") do %>
      <i class="fas fa-angle-left"></i>
      <p>戻る</p>
    <% end %>
  </div>
  <h1>新規タグカテゴリー</h1>
  <%= form_with model: @category, url: "/tag_categories" do |f| %>
    <div class="form">
      <div class="form-item">
        <h2>カテゴリー名</h2>
        <%= f.text_field :name, class: "textbox" %>
      </div>
      <div class="btns">
        <%= f.submit "保存", class: "btn" %>
      </div>
    </div>
  <% end %>
</div>