<% if current_user %>
  <% if current_user.liked_by?(post.id) %>
    <%= link_to("/posts/#{post.id}/post_likes", method: :delete, remote: true) do %>
      <div class="fav-icon" title="いいねを取り消す">
        <i class="fas fa-heart"></i>
        <p><%= post.likes.count %></p>
      </div>
    <% end %>
  <% else %>
    <%= link_to("/posts/#{post.id}/post_likes", method: :post, remote: true) do %>
      <div class="fav-icon" title="いいね！">
        <i class="far fa-heart"></i>
        <p><%= post.likes.count %></p>
      </div>
    <% end %>
  <% end %>
<% end %>