<div class="wrapper">
  <section class="tl-post-list">
    <%= form_with model: @post, url: "/posts/#{@post.id}" do |f| %>
      <%= f.text_area :content, class: "newpost-text", rows: "2" %>
      <div class="newpost-items">
        <i class="far fa-image"></i>
        <%= f.submit "保存", class: "btn" %>
      </div>
    <% end %>
  </section>
</div>

<%= javascript_pack_tag 'posts/postform' %>