@charset "utf-8";

// Colors
  // BaseColor
  // $base-color-400: #262626;
  // $base-color-300: #3f3f3f;
  // $base-color-275: #525252;
  // $base-color-250: #cacaca;
  // $base-color-200: #dcdcdc;
  // $base-color-150: #eeeeee;

  $base-color-10:  #FFFDF6;
  $base-color-15:  #FFFBF3;
  $base-color-17:  #faf6ee;
  $base-color-20:  #FAF6E9;
  $base-color-30:  #ECE8D9;
  $base-color-60:  #9D9D9D;
  $base-color-90:  #494949;
  $base-color-100: #262626;

  // MainColor
  $main-color: #72a9ac;
  $main-bg-color: #eef6f6;

  $btn-main-color: rgba(255, 255, 255, 0);

  // AccentColor
  $accent-color-success: #4cdb8f;
  $accent-bg-color-success: #dbf7e8;
  $accent-color-danger: #E7475E;
  $accent-bg-color-danger: #fae4e9;
  $accent-color-attention: #F0D879;
  $accent-bg-color-attention: #ffffe8;
  $accent-color-line: #dcdcdc;
  $accent-color-line-active: #666666;
  $accent-color-header: rgba(255, 255, 255, 0);
  $accent-color-createive: #24dce2;