@charset "utf-8";
@import "_variable";

.projects-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  .projects-left {
    width: 22%;
    .fixed {
      position: absolute;
      width: 18vw;
      .menu {
        background-color: $base-color-10;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 4px;
        height: 86vh;
        overflow: scroll;
        padding: 16px;
        text-align: left;
        width: 100%;
        .menu-list {
          padding: 10px;
          li {
            padding-bottom: 20px;
          }
          .menu-list-textbtn {
            transition: 0.4s;
            &:hover {
              cursor: pointer;
              opacity: 0.5;
            }
          }
          summary {
            transition: 0.4s;
            &:hover {
              cursor: pointer;
              opacity: 0.5;
            }
          }
          details {
            padding-bottom: 24px;
            li {
              padding: 12px 0 0 16px;
              transition: 0.4s;
              &:hover {
                opacity: 0.5;
              }
            }
          }
          .list-btn {
            padding: 4px 8px;
            border-radius: 4px;
            color: $base-color-10;
            background: $main-color;
            border: 1px solid $main-color;
            transition: 0.4s;
            &:hover {
              color: $main-color;
              background: $btn-main-color;
            }
          }
        }
      }
    }
  }
  .projects-right {
    flex: 1;
    padding: 16px;
    padding-left: 24px;
    h1 {
      font-size: 32px;
      padding-bottom: 16px;
    }
  }
  .projects-bord {
    display: grid;
    gap: 40px 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    .project-box {
      transition: 0.2s;
      .project-content {
        padding-top: 10px;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.project-img {
  border-radius: 8px;
  width: 100%;
}

.project-show-box {
  text-align: left;
  margin: 24px 0;
  .project-show-data {
    margin: 16px 0;
  }
}