@charset "utf-8";
@import "function/mediaquery";
@import "layout/hamburger";
@import "setting/variable";

.projects-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  .projects-left {
    width: 22%;
    .fixed {
      background-color: $base-color-10;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 16px;
      height: 86vh;
      overflow: hidden;
      position: fixed;
      width: 18vw;
      .menu {
        padding: 16px;
        text-align: left;
        width: 100%;
        .menu-list {
          overflow: scroll;
          padding: 10px;
          li {
            padding-bottom: 20px;
          }
          .menu-list-textbtn {
            transition: .4s;
            &:hover {
              cursor: pointer;
              opacity: .5;
            }
          }
          summary {
            transition: .4s;
            &:hover {
              cursor: pointer;
              opacity: .5;
            }
          }
          details {
            padding-bottom: 24px;
            li {
              padding: 12px 0 0 16px;
              transition: .4s;
              &:hover {
                opacity: .5;
              }
            }
          }
          .list-btn {
            background: $main-color;
            border: 1px solid $main-color;
            border-radius: 4px;
            color: $base-color-10;
            display: block;
            padding: 4px 8px;
            transition: .4s;
            width: fit-content;
            &:hover {
              color: $main-color;
              background: $btn-main-color;
            }
          }
        }
      }
    }
  }
  .projects-right {
    flex: 1;
    padding: 16px;
    padding-left: 24px;
    h1 {
      padding-top: 8px;
      font-size: 1.8rem;
      padding-bottom: 16px;
    }
  }
  .projects-bord {
    display: grid;
    gap: 40px 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    .project-box {
      background-color: $base-color-10;
      border-radius: 16px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      overflow: hidden;
      .content {
        display: flex;
        padding: 20px;
        .details {
          h2 {
            font-size: 1rem;
            line-height: 1.3em;
            font-size: 1.1rem;
          }
          .target {
            span {
              padding-right: 8px;
            }
            padding-top: 8px;
            font-size: 1rem;
          }
          .overview {
            padding-top: 8px;
          }
        }
      }
    }
  }
  @include mq(tab) {
    .projects-left {
      width: 40%;
      .fixed {
        width: 32vw;
      }
    }
  }
  @include mq(sp) {
    display: block;
    width: 100%;
    .projects-left {
      display: none;
    }
    .projects-bord {
      display: block;
      gap: 0;
      margin-bottom: 80px;
      .project-box {
        display: block;
        margin-bottom: 24px;
      }
    }
  }
}

.project-show-box {
  background-color: $base-color-10;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  padding: 20px;
  h2 {
    font-size: 1.6rem;
    line-height: 1.3em;
  }
  .thumbnail {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  .data li {
    padding-top: 8px;
  }
  .detail {
    font-size: 1rem;
    line-height: 1.3em;
    padding-top: 24px;
    padding-bottom: 16px;
  }
  @include mq(sp) {
    h2 {
      font-size: 1.2rem;
    }
  }
}

.project-img {
  width: 100%;
}

.project-show-box {
  text-align: left;
  margin: 24px 0;
  .project-show-data {
    margin: 16px 0;
  }
}