@charset "utf-8";
@import "function/mediaquery";
@import "layout/hamburger";
@import "layout/two_column";
@import "setting/size";
@import "setting/variable";

.recruitments-bord {
  display: grid;
  gap: 40px 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 100%;
  .recruitment-box {
    background-color: $base-color-10;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    .content {
      display: flex;
      padding: 20px;
      .details {
        h2 {
          font-size: 1rem;
          line-height: 1.3em;
          font-size: 1.1rem;
        }
        .target {
          span {
            padding-right: 8px;
          }
          padding-top: 8px;
          font-size: 1rem;
        }
        .overview {
          padding-top: 8px;
        }
      }
    }
  }
  @include mq(sp) {
    display: block;
    gap: 0;
    margin-bottom: 80px;
    .recruitment-box {
      display: block;
      margin-bottom: 24px;
    }
  }
}

.recruitment-show-box {
  background-color: $base-color-10;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow: hidden;
  padding: 20px;
  h2 {
    font-size: 1.6rem;
    line-height: 1.3em;
  }
  .thumbnail {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
  .data li {
    padding-top: 8px;
  }
  .detail {
    font-size: 1rem;
    line-height: 1.3em;
    padding-top: 24px;
    padding-bottom: 16px;
  }
  @include mq(sp) {
    h2 {
      font-size: 1.2rem;
    }
  }
}

.recruitment-img {
  width: 100%;
}

.recruitment-show-box {
  text-align: left;
  margin: 24px 0;
  .recruitment-show-data {
    margin: 16px 0;
  }
}