@charset "utf-8";
@import "function/mediaquery";
@import "layout/form";
@import "layout/postlist";
@import "layout/usericon";
@import "layout/userlist";
@import "setting/variable";


.user-box {
  align-items: center;
  display: flex;
  padding: 16px 24px;
  .user-box-right {
    flex-grow: 1;
    text-align: left;
    h1 {
      font-size: 2rem;
    }
    .follow-box {
      display: flex;
      margin: 8px 0;
      a {
        font-size: 1.2rem;
        margin-right: 8px;
      }
    }
    .user-box-btnarea {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      .icon {
        display: inline;
        font-size: 1.5rem;
        margin: 8px;
        transition: .3s ;
        &:hover {
          opacity: .5;
        }
      }
    }
  }
  @include mq(sp) {
    flex-direction: column;
    .user-box-right {
      text-align: center;
      .follow-box {
        display: block;
      }
    }
    .user-box-btnarea {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.follows_followers_tab {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  a {
    border-right: 1px solid $main-color;
    flex: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    &:first-of-type {
      border: 1px solid $main-color;
      border-radius: 8px 0 0 8px;
    }
    &:last-of-type {
      border: 1px solid $main-color;
      border-radius: 0 8px 8px 0;
    }
  }
  .target {
    background-color: $main-color;
    * {
      color: $base-color-10;
    }
  }
}